<h1> Login </h1>
<form action="/login" method="POST">
  <p>
    <lable for="email">Email:</lable>
    <input type="text" name="email" id="email"/>
  </p>
  <p>
    <lable for="password">Password:</lable>
    <input type="text" name="password" id="password"/>
  </p>
  <p>
    <lable for="username">Username:</lable>
    <input type="text" name="username" id="username"/>
  </p>

  <input type="submit" placeholder="Login" />

</form>
