<h1>Create your tweet:</h1>
<form action="/tweets" method="POST">
<br>
  <input type="text" name="content" id="new_content" placeholder="Tweet here!">
<br>
<input type="submit" id="submit" placeholder="Post new tweet!" />
</form>
