<h1>Tweet no. <%=@tweet.id%></h1>
<h4>Content:</h4>
<p>
  <h4><%=@tweet.content%></h4>
</p>

<a class="button" href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>
<a class="button" href="/tweets">Tweets</a>
<form class="" action="/tweets/<%= @tweet.id %>/delete" method="post">
   <input id="hidden" type="hidden" name="_method" value="delete">
   <input type="submit" id="Delete Tweet" value="Delete Tweet">
</form>
