<h1>Tweet no. <%=@tweet.id%></h1>
<h4>Content:</h4>
<p>
  <h4><%=@tweet.content%></h4>
</p>

<a class="button" href="/tweets/<%= @tweet.id %>/edit">Edit Tweet</a>
<a class="button" href="/tweets">Tweets</a>
 
