<h1>"Welcome, "</h1>
<h1> Signup </h1>
<form action="/signup" method="POST">
  <p>
    <lable for="username">Username:</lable>
    <input type="text" name="username" id="username"/>
  </p>
  <p>
    <lable for="email">Email:</lable>
    <input type="text" name="email" id="email"/>
  </p>
  <p>
    <lable for="password">Password:</lable>
    <input type="password" name="password" id="password"/>
  </p>

  <input type="submit" placeholder="Signup" />

</form>
